<div class="field">
    <label class="label">
        {{ include.vars.item-name }}
    </label>
    <div class="control">
        <input
            class="input"
            type="text"
            name="{{ include.vars.item-name }}"
            placeholder="{{ include.vars.item-name }}"
        >
    </div>
</div>

{% if include.vars.org %}
<div class="field">
    <label class="label">
        {{ include.vars.org }}
    </label>
    <div class="control">
        <input
            class="input"
            type="text"
            name="{{ include.vars.org }}"
            placeholder="{{ include.vars.org }}"
        >
    </div>
</div>
{% endif %}

{% if include.vars.location %}
<div class="field">
    <label class="label">
        {{ include.vars.location }}
    </label>
    <div class="control">
        <input
            class="input"
            type="text"
            name="{{ include.vars.location }}"
            placeholder="{{ include.vars.location }}"
        >
    </div>
</div>
{% endif %}


{% if include.vars.dates %}
    <div class="columns">
        {% if include.vars.dates.start %}
            <div class="column">
                <div class="field">
                    <label class="label">
                        {{ include.vars.dates.start }}
                    </label>
                    <div class="control">
                        <input
                            class="input"
                            type="month"
                            name="{{ include.vars.dates.start }}"
                        >
                    </div>
                </div>
            </div>
        {% endif %}
        {% if include.vars.dates.end %}
            <div class="column">
                <div class="field">
                    <label class="label">
                        {{ include.vars.dates.end }}
                    </label>
                    <div class="control">
                        <input
                            class="input"
                            type="month"
                            name="{{ include.vars.dates.end }}"
                        >
                    </div>
                    {% if include.vars.dates.current %}
                    <label class="checkbox is-small">
                        <input
                            type="checkbox"
                            name="current"
                        >
                        {{ include.vars.dates.current }}
                    </label>
                    {% endif %}
                </div>
            </div>
        {% endif %}
    </div>
{% endif %}

{% if include.vars.subitems %}
<div class="field">
    <label class="label">
        {{ include.vars.subitems }}
    </label>
    <div class="control">
        <div class="textarea" contenteditable="true">
            <div style="display: list-item; list-style-type: disc; list-style-position: outside; margin-left: 1em;"></div>
        </div>
    </div>
</div>
{% endif %}