<div class="field">
    <label class="label">
        {{ include.vars.item-name }}
    </label>

    <ul>
        <l1>
            <span class="icon is-small">
                {% include icon.html i='circle' size='.75' %}
            </span>
            <input class="input" type="text">
            <button class="delete"></button>
        </l1>
    </ul>

    <div id="theparagraph" class="textarea" contenteditable="true">
        <div style="displat: list-item; list-item-type: disc; margin-left: 1.5em; outline: none;"></div>
    </div>
    
    {% comment %}
    <template x-for="(item, index) in self.items" :key="item.key">
        <div class="field has-addons">
            <div class="control is-expanded">
                <input
                    class="input"
                    type="text"
                    x-model="item.contents"
                >
            </div>
            <div class="control">
                <button class="button is-primary" @click="addListItem(self, index+1)">Add</button>
            </div>
            <div class="control" :class="self.items.length > 1 || 'is-invisible'" >
                <button class="button is-danger" @click="delItem(self, index)">Delete</button>
            </div>
        </div>
    </template>
    {% endcomment %}
</div>
