<div class="notification is-info is-light dropper">
    <p class="block is-medium has-text-centered my-3">
        Drag and drop image or...
    </p>
    <div class="file is-large is-centered is-boxed is-info">
        <label class="file-label">
            <input type="file" name="image" accept="image/*" class="file-input">
            <span class="file-cta">
                <span class="file-icon">
                    {% include icon.html i='upload'%}
                </span>
                <span class="file-label">
                    Click to select image
                </span>
            </span>
        </label>
    </div>
</div>