
<div x-data="{
    fullimg: '',
    cropopen: false,
    loading: false,
    loadinput: () => {},
    loaddrop: () => {},
}">
    <div class="card" x-show="self.data">
        <div class="card-image">
            <figure class="image">
                <img x-bind:src="self.data" alt="Photo of self">
            </figure>
        </div>
        <div class="card-footer">
            <button class="button card-footer-item is-medium">Edit</button>
            <button class="button card-footer-item is-medium is-danger is-light">Delete</button>
        </div>
    </div>
    <div class="notification is-info is-light dropper" x-show="!self.data">
        <p class="block is-size-3 has-text-centered my-3">
            Drag and drop image or...
        </p>
        <div class="file is-large is-centered is-boxed is-info">
            <label class="file-label">
                <input type="file" name="image" accept="image/*" class="file-input">
                <span class="file-cta">
                    <span class="file-icon">
                        {% include icon.html i='upload'%}
                    </span>
                    <span class="file-label">
                        Click to select image
                    </span>
                </span>
            </label>
        </div>
    </div>
    <div class="modal">
        <div class="modal-background"></div>
        <div class="modal-content">
            <img x-bind:src="fullimg">
        </div>
        <button class="modal-close is-large" aria-label="close"></button>
    </div>

</div>