---
---

// default styles for the whole resume
.page {
    * {
        line-height: normal !important;
        color: black;
        background-color: white;
    }

    h2 {
        margin-block-start: 12pt;
        margin-block-end: 6pt;
    }

//    h3 {
//        margin-block-start: 1em;
//    }

//    h4 {
//        margin-block-start: .75em;
//    }

    h1, h2, h3, h4 {
        break-after: avoid-page;
        page-break-after: avoid;
    }

    ul, .items .item {
        break-inside: avoid-page;
        page-break-inside: avoid;
    }
}

// font sizes
.fontmedium {
    font-size: 12pt;

    h1 {
        font-size: 20pt;
    }

    h2 {
        font-size: 16pt;
    }
}

.fontsmall {
    font-size: 10pt;

    h1 {
        font-size: 18pt;
    }

    h2 {
        font-size: 14pt;
    }
}

.fontlarge {
    font-size: 14pt;

    h1 {
        font-size: 22pt;
    }

    h2 {
        font-size: 18pt;
    }
}

$Georgia: Georgia, 'Times New Roman', Times, serif;
$Arial: Arial, Helvetica, sans-serif;
$ArialBlack: "Arial Black", Arial Bold, Gadget, sans-serif;
$Calibri: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
$Impact: Impact, Haettenschweiler, "Franklin Gothic Bold", Charcoal, "Helvetica Inserat", "Bitstream Vera Sans Bold", "Arial Black", "sans serif";
$Tahoma: Tahoma, Verdana, Segoe, sans-serif;
$BookAntiqua: "Book Antiqua", Palatino, "Palatino Linotype", "Palatino LT STD", Georgia, serif;
$Garamond: Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif;
$Palatino: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
$Times: TimesNewRoman, "Times New Roman", Times, Baskerville, Georgia, serif;
$Copperplate: Copperplate, "Copperplate Gothic Light", fantasy;
$Papyrus: Papyrus, fantasy;
$ComicSans: "Comic Sans MS", "Comic Sans", "Comic Neue", cursive, sans-serif;

{% assign mainfonts = "Georgia,Arial,Calibri,Tahoma,BookAntiqua,Garamond,Palatino,Times,ComicSans" | split: "," %}
{% assign headfonts = "Georgia,Arial,ArialBlack,Calibri,Impact,Tahoma,BookAntiqua,Garamond,Palatino,Times,Copperplate,Papyrus,ComicSans" | split: "," %}

// main font family

{% for font in mainfonts %}
.main{{ font | downcase }} {
    font-family: ${{ font }};
}
{% endfor %}

// Header font fomily and Contact Info font family

{% for font in headfonts %}
.head{{ font | downcase }} {
    h2, h3, h4 {
        font-family: ${{ font }};
    }
}

.top{{ font | downcase}} {
    .address, .communication, .contact h1 {
        font-family: ${{ font }};
    }
}

.topmatchdoc.head{{ font | downcase }} {
    h1 {
        font-family: ${{ font }};
    }
}

{% endfor %}

// Metadata style

.topcenter {
    .address, .communication, .contact h1 {
        text-align: center;
    }

    .contact h1 {
        margin-block-end: 6pt;
    }

    //.contact .address span:not(:last-of-type)::after {
    //    content: ", ";
    //}

    //.contact .communication span:not(:last-of-type)::after {
    //    content: " | ";
    //}
}

// Heading style
.headunderline h2 {
    text-decoration: underline;
    font-weight: bold;
}

// Item style
.itemstandard {
    .item {
        //clearfix
        .item-block::after {
            clear: both;
            content: "";
            display: table;
        }

        margin-block-end: .5em;

        .item-description {
            float: left;
        }
        
        .h3 {
            font-weight: bold;
        }

        //.item-org p:not(:last-of-type)::after {
        //    content: ", ";
        //}

        .org, .loc {
            font-style: italic;
            display: inline;
        }

        .dates {
            font-weight: bold;
            float: right;
        }

        .subitems {
            h4 {
                display: none;
            }
        }
    }
}

.listdisc {
    ul {
        list-style-type: disc;
        list-style-position: outside;
    }

    li {
        margin-left: .25in;
    }
}

.listcircle {
    ul {
        list-style-type: circle;
        list-style-position: outside;
    }

    li {
        margin-left: .25in;
    }
}

.listsquare {
    ul {
        list-style-type: square;
        list-style-position: outside;
    }

    li {
        margin-left: .25in;
    }
}

.listtriangle {
    ul {
        list-style-type: "\2023\2002";
        list-style-position: outside;
    }

    li {
        margin-left: .25in;
    }
}

.listhyphen {
    ul {
        list-style-type: "\2043\2002";
        list-style-position: outside;
    }

    li {
        margin-left: .25in;
    }
}

.listdash {
    ul {
        list-style-type: "\2014";
        list-style-position: outside;
    }

    li {
        margin-left: .25in;
    }
}

// Short list style
.listcolumns {
    .list { 
        ul {
            columns: 3;
        }
    }
}

.liststandard {
    .list {
        ul {

        }
    }
}

.listinline {
    .list {
        li {
            display: inline;
            margin-left: 0;
        }
    }
}

.subitemcolumns {
    .subitems { 
        ul {
            columns: 3;
        }
    }
}

.subitemstandard {
    .subitems {
        ul {

        }
    }
}

.subiteminline {
    .subitems {
        li {
            display: inline;
            margin-left: 0;
        }
    }
}

// Resets, page sizes and margins for the resume as a whole

@media screen {
    .page-box {
        --bulma-box-radius: 0;
        --bulma-box-padding: 0;
        overflow-y: hidden;
        position: relative;
    }

    .page {
        box-sizing: border-box;
        position: absolute;
        transform-origin: top left;
    }

    .pageletter {
        width: 8.5in;
    }

    .pageletter.mgmedium {
        padding: .75in;
    }

    .pageletter.mgnarrow {
        padding: .5in;
    }

    .pageletter.mgwide {
        padding: 1in;
    }

    .pagea4 {
        width: 210mm;
    }

    .pagea4.mgmedium {
        padding: 20mm;
    }

    .pagea4.mgnarrow {
        padding: 14mm;
    }

    .pagea4.mgwide {
        padding: 24mm;
    }
}

@media print {
    header, footer, .noprint {
        display: none !important;
    }

    main, .printcontainer {
        all: revert !important;
    }

    .pageletter.mgmedium {
        page: letterpage;
    }

    .pageletter.mgnarrow {
        page: letterpagenarrow;
    }

    .pageletter.mgwide {
        page: letterpagewide;
    }

    .pagea4.mgmedium {
        page: a4page;
    }

    .pagea4.mgnarrow {
        page: a4pagenarrow;
    }

    .pagea4.mgwide {
        page: a4pagewide;
    }

    .page {
        scale: 100% !important;
    }

    .page-box {
        height: auto !important;
    }
}

@page letterpage {
    size: letter portrait;
    margin: .75in;
}

@page letterpagenarrow {
    size: letter portrait;
    margin: .5in;
}

@page letterpagewide {
    size: letter portrait;
    margin: 1in;
}

@page a4page {
    size: A4 portrait;
    margin: 20mm;
}

@page a4pagenarrow {
    size: A4 portrait;
    margin: 14mm;
}

@page a4pagewide {
    size: A4 portrait;
    margin: 24mm;
}