
@media screen {
    .page-box {
        --bulma-box-radius: 0;
        --bulma-box-padding: 0;
        overflow-y: hidden;
        position: relative;
    }

    .page {
        box-sizing: border-box;
        position: absolute;
        transform-origin: top left;
    }

    .letter .page {
        width: 8.5in;
        padding: .75in;
    }

    .a4 .page {
        width: 210mm;
        padding: 20mm;
    }
}

@media print {
    header, footer, .noprint {
        display: none !important;
    }

    main, .printcontainer {
        all: revert !important;
    }

    .letter .page {
        page: letterpage;
    }

    .a4 .page {
        page: a4page;
    }

    .page {
        scale: inherit;
    }
}

@page letterpage {
    size: letter portrait;
    margin: 1in;
}

@page a4page {
    size A4 portrait;
    margin: 24mm;
}