---
---

// default styles for the whole resume
.page {
    * {
        line-height: normal !important;
    }

    h2 {
        margin-block-start: 1em;
        margin-block-end: .5em;
    }

//    h3 {
//        margin-block-start: 1em;
//    }

//    h4 {
//        margin-block-start: .75em;
//    }

    h1, h2, h3, h4 {
        break-after: avoid-page;
        page-break-after: avoid;
    }

    ul, .items .item {
        break-inside: avoid-page;
        page-break-inside: avoid;
    }
}

$Georgia: Georgia, 'Times New Roman', Times, serif;
$Arial: Arial, Helvetica, sans-serif;
$ArialBlack: "Arial Black", Arial Bold, Gadget, sans-serif;

// main font family
.maingeorgia {
    font-family: $Georgia;
}

// font sizes
.fontmedium {
    font-size: 12pt;

    h1 {
        font-size: 20pt;
    }

    h2 {
        font-size: 16pt;
    }
}

// Header font fomily

.headarial {
    h2, h3, h4 {
        font-family: $Arial;
    }

    h2, h3 {
        font-weight: bold;
    }

    h4 {
        font-style: italic;
    }
}

// Metadata font family

.toparialblack {
    .address, .communication, .contact h1 {
        font-family: $ArialBlack;
    }
}

// Metadata style

.topcenter {
    .address, .communication, .contact h1 {
        text-align: center;
    }

    .contact h1 {
        margin-block-end: .5em;
    }

    .contact .address span:not(:last-of-type):after {
        content: ", ";
    }

    .contact .communication span:not(:last-of-type):after {
        content: " | ";
    }
}

// Heading style
.headunderline h2 {
    text-decoration: underline;
}

// Item style
.itemstandard {
    .item {
        //clearfix
        ::after {
            clear: both;
            content: "";
            display: table;
        }

        margin-block-end: .5em;

        .org + .loc ::after {
            content: ", ";
        }

        .org, .loc {
            font-style: italic;
        }

        .loc {
            display: inline;
        }

        .dates {
            font-weight: bold;
            float: right;
        }

        .subitems {
            ul {
                list-style-type: disc;
                list-style-position: outside;
            }

            li {
                margin-left: 2em;
            }

            h4 {
                display: none;
            }
        }
    }
}

// Short list style
.listcolumns {
    .list { 
        ul {
            list-style-type: disc;
            list-style-position: outside;
            columns: 3;
        }

        li {
            margin-left: 1.5em;
        }
    }
}

// Highlight (if any) color
.hlblack {

}



// Resets, page sizes and margins for the resume as a whole

@media screen {
    .page-box {
        --bulma-box-radius: 0;
        --bulma-box-padding: 0;
        overflow-y: hidden;
        position: relative;
    }

    .page {
        box-sizing: border-box;
        position: absolute;
        transform-origin: top left;
    }

    .pageletter {
        width: 8.5in;
    }

    .pageletter.mgmedium {
        padding: .75in;
    }

    .pageletter.mgnarrow {
        padding: .5in;
    }

    .pageletter.mgwide {
        padding: 1in;
    }

    .pagea4 {
        width: 210mm;
    }

    .pagea4.mgmedium {
        padding: 20mm;
    }

    .pagea4.mgnarrow {
        padding: 14mm;
    }

    .pagea4.mgwide {
        padding: 24mm;
    }
}

@media print {
    header, footer, .noprint {
        display: none !important;
    }

    main, .printcontainer {
        all: revert !important;
    }

    .pageletter.mgmedium {
        page: letterpage;
    }

    .pageletter.mgnarrow {
        page: letterpagenarrow;
    }

    .pageletter.mgwide {
        page: letterpagewide;
    }

    .pagea4.mgmedium {
        page: a4page;
    }

    .pagea4.mgnarrow {
        page: a4pagenarrow;
    }

    .pagea4.mgwide {
        page: a4pagewide;
    }

    .page {
        scale: inherit;
    }
}

@page letterpage {
    size: letter portrait;
    margin: .75in;
}

@page letterpagenarrow {
    size: letter portrait;
    margin: .5in;
}

@page letterpagewide {
    size: letter portrait;
    margin: 1in;
}

@page a4page {
    size: A4 portrait;
    margin: 20mm;
}

@page a4pagenarrow {
    size: A4 portrait;
    margin: 14mm;
}

@page a4pagewide {
    size: A4 portrait;
    margin: 24mm;
}