
html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

body > footer {
    flex-shrink: 0;
}

.myheader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.invert {
    color: var(--pico-primary-inverse);
    background-color: var(--pico-primary-background);
}

.invert-smooth {
    color: var(--pico-primary-inverse);
    background-image: linear-gradient(var(--pico-primary-background), var(--pico-background-color));
}

.bigtitle {
    --pico-font-size: 3rem;
    --pico-font-family: "Oleo Script", system-ui;
    --pico-font-weight: 700;
    font-style: normal;
}
