
html, body {
    height: 100%;
    background-color: var(--bulma-white-ter);
}

.is-fit {
    width: fit-content;
}

.bulletbox > div {
    display: list-item;
    list-style-type: disc;
    list-style-position: outside;
    margin-left: 1em;
}

.dropper {
    border-style:dotted;
    border-color: var(--bulma-info-base);
}

[x-cloak] {
    display: none !important;
}

.file-cta, file-label {
    white-space: normal;
}

@media screen and (max-width: 768px) {

}

@media screen and (min-width: 769px) {

}

@media screen and (min-width: 1024px) {

}

@media screen and (min-width: 1216px) {

}

@media screen and (min-width: 1408px) {

}