---
layout: page
title: Review
previous: /extras/
permalink: /review/
navbar: 9
sections:
    -   name: contact
        type: contact
        link: '/contact/'
    -   name: photo
        type: photo
        link: '/photo/'
    -   name: summary
        type: summary
        link: '/summary/'
    -   name: experience
        type: items
        link: '/experience/'
    -   name: education
        type: items
        link: '/education/'
    -   name: projects
        type: items
        link: '/projects/#projects'
    -   name: activities
        type: items
        link: '/projects/#activities'
    -   name: skills
        type: list
        link: '/skills/#skills'
    -   name: proskills
        type: items
        link: '/skills/#proskills'
    -   name: certifications
        type: items
        link: '/extras/#certifications'
    -   name: awards
        type: items
        link: '/extras/#awards'
    -   name: languages
        type: list
        link: '/extras/#languages'
---

<h1 class="title is-1">Review</h1>

Put the review of all sections here.

<div x-data="{
    contact:        $persist(blankForm('Contact', false)).as('contact'),
    photo:          $persist(blankForm('Photograph', false)).as('photo'),
    summary:        $persist(blankForm('Summary', false)).as('summary'),
    experience:     $persist(blankForm('Experience', false)).as('experience'),
    education:      $persist(blankForm('Education', false)).as('education'),
    projects:       $persist(blankForm('Projects', false)).as('projects'),
    activities:     $persist(blankForm('Activities', false)).as('activities'),
    skills:         $persist(blankForm('Skills', false)).as('skills'),
    proskills:      $persist(blankForm('Professional Skills', false)).as('proskills'),
    certifications: $persist(blankForm('Certifications', false)).as('certifications'),
    awards:         $persist(blankForm('Awards', false)).as('awards'),
    languages:      $persist(blankForm('Languages', false)).as('languages'),

    reviewing:      $persist(true).as('reviewing'),
    reviewsection:  $persist('/review/').as('reviewsection'),
    skipping:       false,
}">

{% for section in page.sections %}

<article class="card block" x-show="!{{ section.name }}.skipped" x-init="skipping ||= {{ section.name }}.skipped" x-cloak>
    <header class="card-header">
        <h2 class="card-header-title title is-2" x-text="{{ section.name }}.title"></h2>
    </header>
    <div class="card-content">
        <div class="content is-medium">
        {% case section.type %}
            {% when 'contact' %}
                <h3 x-show="{{ section.name }}.fullname" x-text="{{ section.name }}.fullname"></h3>
                <p>
                    <span x-show="{{ section.name }}.address.line1">
                        <strong>Address:</strong><br>
                        <span x-text="{{ section.name }}.address.line1"></span>
                    </span>
                    <span x-show="{{ section.name }}.address.line2">
                        <br><span x-text="{{ section.name }}.address.line2"></span>
                    </span>
                    <span x-show="{{ section.name }}.address.city">
                        <br><span x-text="{{ section.name }}.address.city"></span>
                        <span x-show="{{ section.name }}.address.state">
                            <span>, </span>
                            <span x-text="{{ section.name }}.address.state"></span>
                        </span>
                        <span x-show="{{ section.name }}.address.zip">
                            <span>  </span>
                            <span x-text="{{ section.name }}.address.zip"></span>
                        </span>
                    </span>
                </p>
                <p x-show="{{ section.name }}.phone">
                    <strong>Tel: </strong><span x-text="{{ section.name }}.phone"></span>
                </p>
                <p x-show="{{ section.name }}.email">
                    <strong>Email: </strong><span x-text="{{ section.name }}.email"></span>
                </p>
                <p x-show="{{ section.name }}.website">
                    <strong>Website: </strong><span x-text="{{ section.name }}.website"></span>
                </p>

            {% when 'photo' %}
                <p>placeholder</p>
            {% when 'summary' %}
                <p x-text="{{ section.name }}.contents"></p> 
            {% when 'list' %}
                <ul>
                    <template x-for="item in {{ section.name }}.items">
                        <li>
                            <p x-text="item"></p>
                        </li>
                    </template>
                </ul>
            {% when 'items' %}
                <template x-for="(item, index) in {{ section.name }}.items">
                    <div class="block">
                        <hr x-show="index > 0">
                        <h3 xtext="item.title"></h3>
                        <p x-show="item.org">
                            <em>
                                <span x-text="item.org"></span>
                                <span x-show="item.loc" x-text="', ' + item.loc"></span>
                            </em>
                        </p>
                        <p x-show="item.dates.start">
                            <strong>
                                <span x-text="dateString(item.dates.start) + ' – '"></span>
                                <span x-text="item.dates.current ? 'Current' : dateString(item.dates.end) "></span>
                            </strong>
                        </p>
                        <p x-show="item.dates.end && !item.dates.start">
                            <strong>
                                <span x-show="item.dates.current">Anticipated </span>
                                <span x-text="dateString(item.dates.end)"></span>
                            </strong>
                        </p>
                        <div x-show="item.subtitle">
                            <h4 x-text="item.subtitle"></h4>
                            <ul>
                                <template x-for="subitem in item.subitems">
                                    <li>
                                        <span x-text="subitem"></span>
                                    </li>
                                </template>
                            </ul>
                        </div>
                    </div>
                </template>
        {% endcase %}
        </div>
    </div>
    <div class="card-footer">
        <a href="{{ section.link | relative_url }}" class="card-footer-item">Edit</a>
    </div>
</article>

{% endfor %}

<article class="card block" x-show="skipping" x-cloak>
    <header class="card-header">
        <h2 class="card-header-title title is-3">Skipped Sections</h2>
    </header>
    <div class="card-content">
        {% for section in page.sections %}
            <div class="block" x-show="{{ section.name }}.skipped" x-cloak>
                <a href="{{ section.link | relative_url }}">
                    <h4 class="title is-4">
                        <span x-text="{{ section.name }}.title"></span>
                        <button class="button">Edit</button>
                    </h4>
                </a>
            </div>
        {% endfor %}
    </div>
</article>

<a href="{{ '/print/' | relative_url }}">Print and Export</a>

</div>

{% comment %}

<article class="card">
    <div class="card-content">
        <div class="content is-medium">
            <h3 x-show="contact.fullname" x-text="contact.fullname"></h3>
            <p>
                <span x-show="contact.address.line1">
                    <strong>Address:</strong><br>
                    <span x-text="contact.address.line1"></span>
                </span>
                <span x-show="contact.address.line2">
                    <br><span x-text="contact.address.line2"></span>
                </span>
                <span x-show="contact.address.city">
                    <br><span x-text="contact.address.city"></span>
                    <span x-show="contact.address.state">
                        <span>, </span>
                        <span x-text="contact.address.state"></span>
                    </span>
                    <span x-show="contact.address.zip">
                        <span>  </span>
                        <span x-text="contact.address.zip"></span>
                    </span>
                </span>
            </p>
            <p x-show="contact.phone">
                <strong>Tel: </strong><span x-text="contact.phone"></span>
            </p>
            <p x-show="contact.email">
                <strong>Email: </strong><span x-text="contact.email"></span>
            </p>
            <p x-show="contact.website">
                <strong>Website: </strong><span x-text="contact.website"></span>
            </p>
        </div>
    </div>
    <div class="card-footer">
        <a href="{{ '/contact/' | relative_url }}" class="card-footer-item">Edit</a>
    </div>
</article>

<article>
    <header>
        <h2>
            Photograph
        </h2>
        <div>
            <a href="{{ '/photo/' | relative_url }}">Edit</a>
            <button>X</button>
        </div>
    </header>

    <p>Photo goes here.</p>

</article>

<article>
    <header>
        <h2>
            Summary
        </h2>
        <div>
            <a href="{{ '/summary/' | relative_url }}">Edit</a>
            <button>X</button>
        </div>
    </header>

    <p>
        This is my great big summary
    </p>

</article>

<article>
    <header>
        <h2>
            Experience
        </h2>
        <div>
            <a href="{{ '/experience/' | relative_url }}">Edit</a>
            <button>X</button>
        </div>
    </header>

    <div>
        <h3>Adult Services Librarian</h3>
        <h4>Hennepin County Library</h4>
        <p>
            <strong>
                    October, 2015 -
                    Current
            </strong>
        </p>
            <div>
                <ul>
                    <li>Develop programs</li>
                    <li>Customer Service</li>
                </ul>
            </div>
    </div>
    <div>
        <h3>Associate Librarian</h3>
        <h4>Hennepin County Library</h4>
        <p>
            <strong>
                    May, 2013 -
                    October, 2015
            </strong>
        </p>
            <div>
                <ul>
                    <li>Develop programs</li>
                    <li>Customer Service</li>
                </ul>
            </div>
    </div>

</article>

<article>
    <header>
        <h2>
            Education
        </h2>
        <div>
            <a href="{{ '/education/' | relative_url }}">Edit</a>
            <button>X</button>
        </div>
    </header>

    <div>
        <h3>Master of Library and Information Science</h3>
            <h4>San Jose State University</h4>
        <p>
            <strong>
                    December, 2013
            </strong>
        </p>
    </div>

</article>

<article>
    <header>
        <h2>
            Projects
        </h2>
        <div>
            <a href="{{ '/projects/#projects' | relative_url }}">Edit</a>
            <button>X</button>
        </div>
    </header>

    <div>
        <h3>Portfolio</h3>
            <div>
                <ul>
                    <li>Wrote a bunch</li>
                    <li>Didn't get much sleep</li>
                </ul>
            </div>
    </div>

</article>

<article>
    <header>
        <h2>
            Activities
        </h2>
        <div>
            <a href="{{ '/projects/#activities' | relative_url }}">Edit</a>
            <button>X</button>
        </div>
    </header>

    <div>
        <h3>Treasurer</h3>
        <h4>Writing Club</h4>
            <div>
                <ul>
                    <li>Dealt with the money</li>
                    <li>Gathered books to donate to day care</li>
                </ul>
            </div>
    </div>

</article>

<article>
    <header>
        <h2>
            Skills
        </h2>
        <div>
            <a href="{{ '/skills/' | relative_url }}">Edit</a>
            <button>X</button>
        </div>
    </header>

    <ul>
        <li>
            Computers
        </li>
        <li>
            Crafty stuff
        </li>
    </ul>

</article>

<article>
    <header>
        <h2>
            Professional Skills
        </h2>
        <div>
            <a href="{{ '/skills/#proskills' | relative_url }}">Edit</a>
            <button>X</button>
        </div>
    </header>

    <div>
        <h3>Computer stuff</h3>
            <div>
                <ul>
                    <li>Programming in Python, Lua, and Javascript</li>
                    <li>Office software, Word and Excel</li>
                </ul>
            </div>
    </div>

</article>

<article>
    <header>
        <h2>
            Certifications
        </h2>
        <div>
            <a href="{{ '/extras/#certifications' | relative_url }}">Edit</a>
            <button>X</button>
        </div>
    </header>

    <div>
        <h3>MLIS</h3>
            <h4>San Jose State University</h4>
        <p>
            <strong>
                    December, 2013
            </strong>
        </p>
    </div>

</article>

<article>
    <header>
        <h2>
            Awards
        </h2>
        <div>
            <a href="{{ '/extras/#awards' | relative_url }}">Edit</a>
            <button>X</button>
        </div>
    </header>

    <div>
        <h3>Magna Cum Laude</h3>
            <h4>San Jose State University</h4>
        <p>
            <strong>
                    December, 2013
            </strong>
        </p>
    </div>

</article>

<article>
    <header>
        <h2>
            Languages
        </h2>
        <div>
            <a href="{{ '/extras/#languages' | relative_url }}">Edit</a>
            <button>X</button>
        </div>
    </header>

    <ul>
        <li>
            English: <strong>Expert</strong>
        </li>
        <li>
            German: <strong>Barely</strong>
        </li>
    </ul>

</article>

{% endcomment %}
