<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="color-scheme" content="light dark">
    <link rel="stylesheet" href="{{ '/assets/bulma.min.css' | absolute_url }}">
    <link rel="stylesheet" href="{{ '/assets/style.css' | absolute_url }}">
    {% if page.extracss %}<link rel="stylesheet" href="{{ page.extracss | |prepend: '/assets/' | absolute_url }}">{% endif %}
    <script defer src="{{ '/assets/app.js' | absolute_url }}"></script>
    <script defer src="{{ '/assets/alpine-plugins.min.js' | absolute_url }}"></script>
    <script defer src="{{ '/assets/alpine.min.js' | absolute_url }}"></script>
    <title>{% if page and page.title %}{{ page.title }} - {% endif %}{{ site.title }}</title>
  </head>
  <body class="is-flex is-flex-direction-column">
    {% if page.noheader %}
    {% else %}
      <header>
        <nav class="navbar is-primary">
          <div class="navbar-brand">
            <a class="navbar-item" href="{{ '/' | absolute_url }}">
              <span class="icon-text">
                <span class="icon is-large is-skeleton">
                  {% include icon.html i='pen-nib' size='2' %}
                </span>
                <span>AFR</span>
              </span>
            </a>
            <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false">
              <span aria-hidden="true"></span>
              <span aria-hidden="true"></span>
              <span aria-hidden="true"></span>
              <span aria-hidden="true"></span>
            </a>
          </div>
          <div class="navbar-menu">
            <div class="navbar-start">
            </div>
            <div class="navbar-end">
              <div class="navbar-item">
                <div class="buttons">
                  <a class="button is-link">
                    <strong>Continue</strong>
                  </a>
                  <a class="button is-danger">
                    Start Over
                  </a>
                </div>
              </div>
            </div>
          </div>
        </nav>
      </header>
    {% endif %}
    <main class="is-flex-grow-1 is-flex-shrink-0">
      {{ content }}
    </main>
    {% if page.nofooter %}
    {% else %}
      <footer class="footer has-bachground-primary-light is-flex-shrink-0">
        <div class="content has-text-centered">
          My footer goes here.
        </div>
      </footer>
    {% endif %}
  </body>
</html>
