---
layout: page
---

<section class="block container content">
{{ content }}

{% if page.skippable %}
    <div class="block is-grouped is-pulled-right">
        <button class="button">
            {% if page.noskip-title %}
                {{ page.noskip-title }}
            {% else %}
                Start
            {% endif %}
        </button>
        <a href="{{ page.next | relative_url }}">
        <button class="button">
            {% if page.skip-title %}
                {{ page.skip-title }}
            {% else %}
                Skip
            {% endif %}
        </button>
        </a>
    </div>
{% endif %}

</section>

<section class="container box">
<div class="block is-clearfix">
    {% for form in page.forms %}
        <header class="block">
            <h3 class="subtitle">{{ form.name }}</h3>
            {% if form.name-edit %}
                <button class="button">Edit Header</button>
            {% endif %}
        </header>
        <div class="block">
        {% case form.type %}
            {% when 'contact' %}
                {% include contact.html %}
            {% when 'paragraph' %}
                {% include paragraph.html %}
            {% when 'list' %}
                {% include list.html vars=form %}
            {% when 'items' %}
                {% include items.html vars=form %}
            {% when 'photo' %}
                {% include photo.html %}
        {% endcase %}
        </div>
        {% if form.add-more %}
            <button class="block button">Add more</button>
        {% endif %}
    {% endfor %}

    <div class="block is-pulled-right">
        <a href="{{ page.next | relative_url }}">
            <button class="is-link button">
                {% if page.next-title %}
                    {{ page.next-title }}
                {% else %}
                    Save and Continue
                {% endif %}
            </button>
        </a>
    </div>
</div>
</section>