---
layout: page
---

<section class="block container content is-size-4-desktop is-size-5-touch">
{{ content }}

{% if page.skippable %}
    <div class="block buttons my-4">
        <button class="button is-medium is-primary">
            {% if page.noskip-title %}
                {{ page.noskip-title }}
            {% else %}
                Start
            {% endif %}
        </button>
        <a href="{{ page.next | relative_url }}">
        <button class="button is-medium is-link-inverted">
            {% if page.skip-title %}
                {{ page.skip-title }}
            {% else %}
                Skip
            {% endif %}
        </button>
        </a>
    </div>
{% endif %}

</section>

<section class="container block my-5 is-clearfix">
    {% for form in page.forms %}
        <div class="block box"
            x-data="{ self: $persist(blank{{ form.type }}('{{ form.title }}')).as('{{ form.key }}') }"
        >
            <header class="block level">
                <div class="level-left">
                    <div class="level-item">
                        <h3 class="title" x-text="self.title"></h3>
                    </div>
                </div>
                <div class="level-right">
                    {% if form.title-edit %}
                        <div class="level-item">
                            <button class="button is-small is-primary-inverted">Edit Header</button>
                        </div>
                    {% endif %}
                </div>
            </header>
            {% if form.intro -%}
                <div class="block my-3 is-size-5">
                    <p>{{ form.intro }}</p>
                </div>
            {%- endif %}
            <div class="block">
            {% case form.type %}
                {% when 'Contact' %}
                    {% include contact.html %}
                {% when 'Paragraph' %}
                    {% include paragraph.html %}
                {% when 'List' %}
                    {% include list.html vars=form %}
                {% when 'Items' %}
                    {% include items.html vars=form %}
                {% when 'Photo' %}
                    {% include photo.html %}
            {% endcase %}
            </div>
            {% if form.add-more %}
                <button class="block button is-small is-link-inverted">Add more</button>
            {% endif %}
        </div>
    {% endfor %}

    <div class="block buttons is-right">
        <a href="{{ page.next | relative_url }}">
            <button class="is-link button is-large">
                {% if page.next-title %}
                    {{ page.next-title }}
                {% else %}
                    Save and Continue
                {% endif %}
            </button>
        </a>
    </div>
</section>