---
layout: page
---

<section class="container content is-max-widescreen">
{{ content }}

{% if page.skippable %}
    <div class="is-pulled-right">
        <button class="button">
            {% if page.noskip-title %}
                {{ page.noskip-title }}
            {% else %}
                Start
            {% endif %}
        </button>
        <a href="{{ page.next | relative_url }}">
        <button class="button">
            {% if page.skip-title %}
                {{ page.skip-title }}
            {% else %}
                Skip
            {% endif %}
        </button>
        </a>
    </div>
{% endif %}

</section>

<section class="container is-max-widescreen">
<div class="field">
    {% for form in page.forms %}
        <header>
            <h2>{{ form.name }}</h2>
            {% if form.name-edit %}
                <button class="button">Edit Header</button>
            {% endif %}
        </header>
        <div>
        {% case form.type %}
            {% when 'contact' %}
                {% include contact.html %}
            {% when 'paragraph' %}
                {% include paragraph.html %}
            {% when 'list' %}
                {% include list.html vars=form %}
            {% when 'items' %}
                {% include items.html vars=form %}
            {% when 'photo' %}
                {% include photo.html %}
        {% endcase %}
        </div>
        {% if form.add-more %}
            <button class="button">Add more</button>
        {% endif %}
    {% endfor %}

<a href="{{ page.next | relative_url }}">
    <button class="button">
        {% if page.next-title %}
            {{ page.next-title }}
        {% else %}
            Save and Continue
        {% endif %}
    </button>
</a>

</div>
</section>