---
layout: default
---

{% if page.navbar %}

<div class="columns">
    <div class="column is-one-third is-hidden-mobile">
        <p>navbar goes here</p>
    </div>

    <div class="column">
{% else %}

<div class="container is-max-widescreen">
    <div>

{% endif %}

{% if page.previous %}
    <span class="icon-text">
        <span class="icon">{% include icon.html i='left-long' %}</span>
        <span>
            <a href="{{ page.previous | relative_url }}">
                {% if page.previous-title %}
                    {{ page.previous-title }}
                {% else %}
                    Go back
                {% endif %}
            </a>
        </span>
    </span>
{% endif %}

{{ content }}

    </div>
</div>