---
layout: default
---

<div class="container is-max-widescreen">

{% if page.navbar %}
    <div class="is-hidden-mobile">
        <div class="">
            <p>navbar goes here</p>
        </div>
    </div>
{% endif %}

{% if page.previous %}
    <div class="block">
    <a href="{{ page.previous | relative_url }}">
        <span class="icon-text">
            <span class="icon">{% include icon.html i='left-long' %}</span>
            <span>
                {% if page.previous-title %}
                    {{ page.previous-title }}
                {% else %}
                    Go back
                {% endif %}
            </span>
        </span>
    </a>
    </div>
{% endif %}

{{ content }}

</div>