---
layout: default
---

{% if page.navbar %}

<div class="container columns">
    <div class="column is-one-third is-hidden-mobile">
        <div class="box">
            <p>navbar goes here</p>
        </div>
    </div>

    <div class="column">
{% else %}

<div class="container is-max-desktop">
    <div>

{% endif %}

{% if page.previous %}
    <div class="block">
    <a href="{{ page.previous | relative_url }}">
        <span class="icon-text">
            <span class="icon">{% include icon.html i='left-long' %}</span>
            <span>
                {% if page.previous-title %}
                    {{ page.previous-title }}
                {% else %}
                    Go back
                {% endif %}
            </span>
        </span>
    </a>
    </div>
{% endif %}

{{ content }}

    </div>
</div>