---
layout: section-root
---

<div class="grid">
    <a>
        <article>
            <header>
                Print
            </header>
            I need to but an icon or something here.
        </article>
    </a>
    <a>
        <article>
            <header>
                Download Word Document
            </header>
            I need to but an icon or something here.
        </article>
    </a>
    <a>
        <article>
            <header>
                Download PDF
            </header>
            I need to but an icon or something here.
        </article>
    </a>
</div>
