---
layout: section-root
---

{% assign sectionlength=site.navlength[page.section] %}
<progress value="{{ page.position }}" max="{{ sectionlength }}"></progress>

{{ content }}

<section>
<nav>
    <ul>
        <li>
            {% if page.previous %}
                <a href="{{ page.previous | relative_url }}" role="button">
                    {% if page.prevtitle %}{{ page.prevtitle }}{% else %}Previous{% endif %}
                </a>
            {% endif %}
        </li>
    </ul>
    <ul>
        <li>
            {% if page.next %}
                <a href="{{ page.next | relative_url }}" role="button">
                    {% if page.nexttitle %}{{ page.nexttitle }}{% else %}Next{% endif %}
                </a>
            {% endif %}
        </li>
    </ul>
</nav>
</section>
