---
layout: section-root
---

<section>

<h1>{{ page.default-section-name }}</h1>
{% if layout.edit-section-name %}
    <button>Edit section title</button>
{% endif %}


<form>
{{ content }}

<div class="grid">
    <button>
        Reset page
    </button>
    {% if page.next %}
        <a href="{{ page.next | relative_url }}" role="button">
            {% if page.nexttitle %}{{ page.nexttitle }}{% else %}Next{% endif %}
        </a>
    {% endif %}
</div>

</form>

</section>